body {
    margin: 0;
}

.navbar {
    width: 100vw;
    height: 5em;
    background-color: red;

    p {
        margin: 0;
        padding: 1em;
        color: white;
        font-weight: bold;
    }
}